/* article contenant tout d'1 seul perso */

.perso {
	display: flex;
	flex-direction: column;
	border: solid 3px #A27B00;
	width: 21.875%;
	margin-bottom: 2.5%;
	margin-right: 2.5%;
	margin-left: 0%;
	position: relative;
	overflow: hidden;
}

/* article d'1 perso en particulier */ 

#p1 {
	width: 21.875%;
	margin-bottom: 2.5%;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

#p4 {
	width: 21.875%;
	margin-bottom: 2.5%;
	margin-right: 2.5%;
	margin-left: 0%;
}